	public ${class.Id.Property.ClassName} () {}
	
	public ${class.Id.Property.ClassName} (
#set ($countT = 1)
#foreach ($prop in $class.Id.Properties)
		${prop.SignatureFullClassName} ${prop.JavaName}#if ($countT < $class.Id.Properties.size()),
#end
#set ($countT = $countT + 1)
#end) {

		super (
#set ($countT = 1)
#foreach ($prop in $class.Id.Properties)
		${prop.JavaName}#if ($countT < $class.Id.Properties.size()),
#end
#set ($countT = $countT + 1)
#end);
	}